*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
}
.card-container{
    display: flex;    
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.card{
    width: 250px;
    background-color: red;   
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
    margin: 20px;
    
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 20px;
}
a{
    text-decoration: none;

}
.content{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.card-content,a h3{
    font-size: 24px;
    margin-bottom: 8px;
    color: white;
}
.card-content,a p{
    color: white;
    font-size: 50px;
    line-height: 1.3;
    font-weight: bold;
}
h1{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    font-size: 40PX;
}
